h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-top: 10px;
}
h2 {
  font-size: 0.95rem;
  color: rgb(182, 180, 180);
}
P {
  text-align: center;
  margin-bottom: 0px;
}
.container {
  width: 60%;
}
.search-bar {
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 10px;
}
.weather-colour {
  background: white;
  border-radius: 0px 0px 170px 170px;
  box-shadow: 0px 0px 185px 100px #ffd561;
}
.current-weather {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.current-temperature {
  margin-top: 30px;
  color: #535353;
}
.current-clouds {
  text-align: right;
}
.weather-icon {
  color: rgb(133, 131, 131);
  font-size: 1.95rem;
  display: inline-block;
}
.current-temp {
  text-align: right;
  font-size: 50px;
  margin-bottom: 5px;
  line-height: 1;
  position: relative;
  right: -10px;
}
.current-feels-like {
  text-align: center;
  font-size: 0.95rem;
  margin-bottom: 20px;
  margin-top: 0px;
  color: rgb(117, 116, 116);
}
.temp-unit {
  margin-top: 5px;
}
.current-temp-unit {
  line-height: 1.2;
  display: block;
  text-decoration: none;
}
.forecast-weather {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.forecast-temp {
  font-size: 0.85rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.forecast-temp-max {
  font-weight: bold;
}
.icons {
  position: relative;
  font-size: 0.8rem;
}
.card-label {
  font-size: 0.85rem;
}
.card-body {
  padding: 5%;
  margin: 3%;
}
.row {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0;
}
.footer {
  font-size: xx-small;
  margin-top: 60px;
  text-align: right;
  color: lightslategray;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: rgb(33, 33, 33);
}
